@model ReservationViewModel
@{
    ViewData["Title"] = "Reservations";
}

<partial name="~/Views/Reservation/Modals/Reserve.cshtml" />
<div id="modal-container"></div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-4" data-mdb-toggle="modal"
                    data-mdb-target="#reserve-room-modal">
                    Reserve a Room
                </button>
                <div class="table-responsive">
                    <table id="reservations-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Reservation No.</th>
                                <th>Room No.</th>
                                <th>Room Type</th>
                                <th>Reserved By</th>
                                <th>Schedule (dd-mm-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.Reservations)
                            {
                                <tr data-reservation-id="@r.ReservationId">
                                    <td>@r.ReservationId</td>
                                    <td>@r.Room!.RoomId</td>
                                    <td>@r.Room.RoomType!.Name</td>
                                    <td>@r.Reserver</td>
                                    <td>@r.StartDateFormatted - @r.EndDateFormatted</td>
                                    <td>@r.Duration</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary btn-view-reservation d-inline-flex"
                                                    title="View">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-danger btn-archive-reservation d-inline-flex"
                                                    title="Archive"
                                                    data-controller="Reservation">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    archive
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Reservation/Reservation.js"></script>
    <script src="~/js/Reservation/ViewModal.js"></script>
    <script src="~/js/Reservation/ArchiveFunction.js"></script>
}