@model ReservationViewModel
@{
    ViewData["Title"] = "Reservations";
}

<div class="modal fade" id="reserve-room-modal" tabindex="-1" aria-labelledby="reserve-room-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reserve-room-modal-label">Reserve a Room</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form-reserve-room">
                    <select class="form-control mb-4" name="@nameof(ReservationDtoForCreate.RoomId)" required>
                        <option value="" disabled selected>Select Room</option>
                        @foreach (var r in Model.Rooms)
                        {
                            <option value="@r.RoomId">@r.RoomId</option>
                        }
                    </select>
                    <div class="form-outline mb-4">
                        <input type="text" id="form-reserve-room-reserver" 
                            name="@nameof(ReservationDtoForCreate.Reserver)" class="form-control" maxlength="128" required />
                        <label class="form-label" for="form-reserve-room-reserver">Reserved By</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="form-reserve-room-start-date"
                                       name="@nameof(ReservationDtoForCreate.StartDate)" 
                                       class="form-control" min="" required />
                                <label class="form-label" for="form-reserve-room-start-date">Start Date</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="form-reserve-room-end-date"
                                       name="@nameof(ReservationDtoForCreate.EndDate)" 
                                       class="form-control" min="" required />
                                <label class="form-label" for="form-reserve-room-end-date">End Date</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-reserve-room">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-container"></div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-4" data-mdb-toggle="modal"
                    data-mdb-target="#reserve-room-modal">
                    Reserve a Room
                </button>
                <div class="table-responsive">
                    <table id="reservations-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Reservation No.</th>
                                <th>Room No.</th>
                                <th>Room Type</th>
                                <th>Reserved By</th>
                                <th>Schedule (dd-mm-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.Reservations)
                            {
                                <tr data-reservation-id="@r.ReservationId">
                                    <td>@r.ReservationId</td>
                                    <td>@r.Room!.RoomId</td>
                                    <td>@r.Room.RoomType!.Name</td>
                                    <td>@r.Reserver</td>
                                    <td>@r.StartDateFormatted - @r.EndDateFormatted</td>
                                    <td>@r.Duration</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary btn-view-reservation d-inline-flex"
                                                    title="View">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-danger btn-archive-reservation d-inline-flex"
                                                    title="Archive"
                                                    data-source-controller="Reservation">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    archive
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Reservation.js"></script>
    <script src="~/js/ViewReservationModal.js"></script>
    <script src="~/js/ArchiveReservation.js"></script>
    @* <script src="~/js/EditReservationModal.js"></script> *@
}