@model EditRoomViewModel

<div class="modal fade" id="er-modal" tabindex="-1" aria-labelledby="er-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="er-modal-label">Edit Room</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-er">
                    <input type="hidden" class="form-control" value="@Model.Room.RoomId"
                           name="@nameof(RoomDtoForUpdate.RoomId)" />
                    <div class="mb-4">
                        <label for="form-er-room-type-id" class="form-label">Room Type</label>
                        <select class="form-control editable" id="form-er-room-type-id"
                                name="@nameof(RoomDtoForUpdate.RoomType.RoomTypeId)" required>
                            <option value="" disabled>Select Room Type</option>
                            @{
                                var roomTypeId = Model.Room.RoomType.RoomTypeId;
                                foreach (var rt in Model.RoomTypes)
                                {
                                    var rtSelected = roomTypeId == rt.RoomTypeId;
                                    <option value="@rt.RoomTypeId" selected="@rtSelected">
                                        @rt.TypeName
                                    </option>
                                }
                            }
                        </select>
                    </div>
                    <div>
                        <label for="form-er-status" class="form-label">Status</label>
                        <select class="form-control editable" id="form-er-status"
                                name="@nameof(RoomDtoForUpdate.Status)" required>
                            <option value="" disabled>Select Status</option>
                            @{
                                var statusSelected = Model.Room.Status;

                                if (string.Equals(statusSelected, "Available", StringComparison.OrdinalIgnoreCase))
                                {
                                    <option value="Available" selected>Available</option>
                                    <option value="Occupied">Occupied</option>
                                }
                                else
                                {
                                    <option value="Available">Available</option>
                                    <option value="Occupied" selected>Occupied</option>
                                }
                            }
                        </select>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-er">Save</button>
            </div>
        </div>
    </div>
</div>