@model EditBookingViewModel

<div class="modal fade" id="eb-modal" tabindex="-1" aria-labelledby="eb-modal-label" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eb-modal-label">Editing #@Model.Booking.BookingId</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-eb" method="post">
                    <input type="hidden" class="form-control" value="@Model.Booking.BookingId"
                        name="@nameof(BookingDtoForUpdate.BookingId)" />
                    <div class="mb-3">
                        <label asp-for="Booking.BookedBy" class="form-label">Booked By</label>
                        <input asp-for="Booking.BookedBy" class="form-control" disabled />
                    </div>
                    <div class="mb-4">
                        <label asp-for="Booking.DateBookedFormatted" class="form-label">Booked On</label>
                        <input asp-for="Booking.DateBookedFormatted" class="form-control" disabled />
                    </div>
                    <hr />
                    <div class="row mt-3">
                        <div class="col-3">
                            <label for="form-eb-room-id" class="form-label">Room No.</label>
                            <select class="form-control editable" id="form-eb-room-id" 
                                name="@nameof(BookingDtoForUpdate.Room.RoomId)" required>
                                <option value="" disabled>Select Room</option>
                                @{
                                    var bookingRoomId = Model.Booking.Room.RoomId;
                                    foreach (var room in Model.Rooms)
                                    {
                                        var selected = bookingRoomId == room.RoomId;
                                        <option value="@room.RoomId" selected="@selected"
                                            data-room-type="@room.RoomType.TypeName"
                                            data-floor-num="@room.FloorNumber">
                                            @room.RoomId
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="form-eb-room-type" class="form-label">Room Type</label>
                            <input type="text" id="form-eb-room-type" class="form-control"
                                value="@Model.Booking.Room.RoomType.TypeName" disabled />
                        </div>
                        <div class="col-3">
                            <label for="form-eb-floor-num" class="form-label">Floor No.</label>
                            <input type="text" id="form-eb-floor-num" class="form-control"
                                value="@Model.Booking.Room.FloorNumber" disabled />
                        </div>
                    </div>
                    <div class="row mt-3">
                        @{
                            var startDateVal = Model.Booking.StartDate.ToString("yyyy-MM-dd");
                            var endDateVal = Model.Booking.EndDate.ToString("yyyy-MM-dd");
                        }
                        <div class="col-6">
                            <label class="form-label" for="form-eb-start-date">Start Date</label>
                            <input type="date" id="form-eb-start-date" name="@nameof(BookingDtoForUpdate.StartDate)"
                                class="form-control editable" value="@startDateVal" min="" required />
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="form-eb-end-date">End Date</label>
                            <input type="date" id="form-eb-end-date" name="@nameof(BookingDtoForUpdate.EndDate)"
                                class="form-control editable" value="@endDateVal" min="" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-eb">Save</button>
            </div>
        </div>
    </div>
</div>