@using Bespeak.Web.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bespeak</title>
    @* Google Static Font Icon *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bespeak.Web.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav id="sidebar-menu" class="collapse d-lg-block sidebar bg-white">
            <div class="position-sticky">
                <div id="sidebar-links" class="list-group list-group-flush mx-3 my-4 mb-lg-0">
                    <a class="list-group-item list-group-item-action py-2 @Html.IsActive("Home", "Index")"
                       asp-controller="Home" asp-action="Index">
                        Dashboard
                    </a>
                    <a class="list-group-item list-group-item-action py-2 @Html.IsActive("Home", "Rooms")"
                       asp-controller="Home" asp-action="Rooms">
                        Rooms
                    </a>
                    <a class="list-group-item list-group-item-action py-2 @Html.IsActive("Home", "Bookings")"
                       asp-controller="Home" asp-action="Bookings">
                        Bookings
                    </a>
                </div>
            </div>
        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-primary border-bottom shadow-sm fixed-top">
            <div class="container-fluid d-flex justify-content-start">
                <button class="navbar-toggler me-2" type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#sidebar-menu"
                        aria-controls="sidebar-menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="material-symbols-rounded text-white">menu</span>
                </button>
                <a class="navbar-brand fw-medium text-white" asp-controller="Home" asp-action="Index">Bespeak</a>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="container pt-4 pb-5 px-lg-5">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top text-muted py-3 px-lg-5">
        <div class="container">
            &copy; 2023 - Bespeak - Developed by Neonie Quell Ponce.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/mdb-ui-kit/mdb.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
