@model BookingsViewModel
@{
    ViewData["Title"] = "Bookings";
}

<div class="modal fade" id="br-modal" tabindex="-1" aria-labelledby="br-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="br-modal-label">Book a Room</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* TODO: Continue design on this form *@
                <form method="post" id="form-br">
                    <select class="form-control mb-4" name="" required>
                        <option value="" disabled selected>Select Room</option>
                        @foreach (var rooms in Model.Rooms)
                        {
                            <option value="@rooms.RoomId">@rooms.RoomId</option>
                        }
                    </select>
                    <div class="form-outline">
                        <input type="text" id="form-br-booked-by" name=""
                               class="form-control" required />
                        <label class="form-label" for="form-br-booked-by">Booked By</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-4" data-mdb-toggle="modal"
                    data-mdb-target="#br-modal">
                    Book a Room
                </button>
                <div class="table-responsive">
                    <table id="bookings-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Book #</th>
                                <th>Room #</th>
                                <th>Room Type</th>
                                <th>Booked By</th>
                                <th>Schedule (mm-dd-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 25; i++)
                            {
                                <tr>
                                    <td>BK@(i + 1)</td>
                                    <td>RM@(i + 1)</td>
                                    <td>Boardroom</td>
                                    <td>Booker</td>
                                    <td>@DateTime.Now.ToString("d") - @DateTime.Now.AddDays(1).ToString("d")</td>
                                    <td>1 day</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary d-inline-flex"
                                                    title="View">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-info d-inline-flex"
                                                    title="Edit">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    edit
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/bookings.js"></script>
}