@model BookingsViewModel
@{
    ViewData["Title"] = "Bookings";
}

<div class="modal fade" id="br-modal" tabindex="-1" aria-labelledby="br-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="br-modal-label">Book a Room</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-br">
                    <select class="form-control mb-4" name="@nameof(BookingDtoForCreate.RoomId)" required>
                        <option value="" disabled selected>Select Room</option>
                        @foreach (var rooms in Model.Rooms)
                        {
                            <option value="@rooms.RoomId">@rooms.RoomId</option>
                        }
                    </select>
                    <div class="form-outline mb-4">
                        <input type="text" id="form-br-booked-by" 
                            name="@nameof(BookingDtoForCreate.BookedBy)" class="form-control" required />
                        <label class="form-label" for="form-br-booked-by">Booked By</label>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="form-br-start-date"
                                       name="@nameof(BookingDtoForCreate.StartDate)" 
                                       class="form-control" min="" required />
                                <label class="form-label" for="form-br-start-date">Start Date</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="date" id="form-br-end-date"
                                       name="@nameof(BookingDtoForCreate.EndDate)" 
                                       class="form-control" min="" required />
                                <label class="form-label" for="form-br-end-date">End Date</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-br">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-primary mb-4" data-mdb-toggle="modal"
                    data-mdb-target="#br-modal">
                    Book a Room
                </button>
                <div class="table-responsive">
                    <table id="bookings-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Book #</th>
                                <th>Room #</th>
                                <th>Room Type</th>
                                <th>Booked By</th>
                                <th>Schedule (dd-mm-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model.Bookings)
                            {
                                <tr>
                                    <td>@booking.BookingId</td>
                                    <td>@booking.Room!.RoomId</td>
                                    <td>@booking.Room.RoomType!.TypeName</td>
                                    <td>@booking.BookedBy</td>
                                    <td>@booking.StartDateFormatted - @booking.EndDateFormatted</td>
                                    <td>@booking.Duration</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary d-inline-flex"
                                                    title="View">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-info d-inline-flex"
                                                    title="Edit">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    edit
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/bookings.js"></script>
}