@model RoomViewModel
@{
    ViewData["Title"] = "Rooms";
}

<partial name="~/Views/Room/Modals/CreateModal.cshtml" />
<partial name="~/Views/Room/Modals/RoomType/CreateModal.cshtml" />
<div id="modal-container"></div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3" id="header">All Rooms</h1>
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2 border-bottom" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-all-rooms" data-mdb-toggle="tab" href="#tabs-all-rooms"
                           role="tab" aria-controls="tabs-all-rooms" aria-selected="true">
                           All Rooms
                       </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-room-types" data-mdb-toggle="tab" href="#tabs-room-types"
                           role="tab" aria-controls="tabs-room-types" aria-selected="false">
                            Room Types
                       </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-all-rooms" role="tabpanel" 
                        aria-labelledby="tab-all-rooms">
                        <button type="button" class="btn btn-primary mt-2 mb-4" data-mdb-toggle="modal" 
                            data-mdb-target="#create-room-modal">
                            Add Room
                        </button>
                        <div class="table-responsive">
                            <table id="all-rooms-tbl" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Room No.</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Floor No.</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.Rooms)
                                    {
                                        <tr data-room-id="@r.RoomId">
                                            <td>@r.RoomId</td>
                                            <td>@r.RoomType!.Name</td>
                                            <td><span class="status-@r.RoomStatus!.Name">@r.RoomStatus.Name</span></td>
                                            <td>@r.FloorNumber</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-primary btn-view-room d-inline-flex"
                                                            title="View">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            visibility
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-info btn-edit-room d-inline-flex"
                                                            title="Edit">
                                                        <span class="material-symbols-rounded" 
                                                              style="font-size: 1rem;">
                                                            edit
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger btn-archive-room d-inline-flex"
                                                            title="Archive">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            archive
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-room-types" role="tabpanel" aria-labelledby="tab-room-types">
                        <button type="button" class="btn btn-primary mt-2 mb-4" data-mdb-toggle="modal"
                                data-mdb-target="#create-room-type-modal">
                            Add Room Type
                        </button>
                        <div class="table-responsive">
                            <table id="room-types-tbl" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="w-25">Type</th>
                                        <th>Rooms</th>
                                        <th>Reserved</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rt in Model.RoomTypes)
                                    {
                                        <tr data-room-type-id="@rt.RoomTypeId">
                                            <td>@rt.Name</td>
                                            <td>@rt.TotalRoomsOfType</td>
                                            <td>@rt.TotalReservedOfType</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-primary btn-view-room-type d-inline-flex"
                                                            title="View">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            visibility
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-info btn-edit-room-type d-inline-flex"
                                                            title="Edit">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            edit
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger btn-delete-room-type d-inline-flex"
                                                            title="Delete">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            delete
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Room/Room.js"></script>
    <script src="~/js/Room/RoomType/RoomType.js"></script>
    <script>
        // Change header on tab click
        $('.nav-link').click(function () {
            $('#header').html($(this).text());
        });
    </script>
}