@model RoomViewModel
@{
    ViewData["Title"] = "Rooms";
}

@* New room modal *@
<div class="modal fade" id="new-room-modal" tabindex="-1" aria-labelledby="new-room-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-room-modal-label">New Room</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-new-room">
                    <select class="form-control mb-4" name="@nameof(RoomDtoForCreate.RoomTypeId)" required>
                        <option value="" disabled selected>Select Type</option>
                        @foreach (var rt in Model.RoomTypes)
                        {
                            <option value="@rt.RoomTypeId">@rt.Name</option>
                        }
                    </select>
                    <div class="form-outline">
                        <input type="number" id="form-new-room-floor-num" name="@nameof(RoomDtoForCreate.FloorNumber)"
                               class="form-control" required />
                        <label class="form-label" for="form-new-room-floor-num">Floor Number</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-new-room">Save</button>
            </div>
        </div>
    </div>
</div>
@* New room type modal *@
<div class="modal fade" id="new-room-type-modal" tabindex="-1" aria-labelledby="new-room-type-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-room-type-modal-label">New Room Type</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="form-new-room-type">
                    <div class="form-outline mb-4">
                        <input type="text" id="form-new-room-type-name" name="@nameof(RoomTypeDtoForCreate.Name)"
                               class="form-control" maxlength="32" required />
                        <label class="form-label" for="form-room-type-name">Type</label>
                    </div>
                    <div class="form-outline">
                        <textarea id="form-new-room-type-description" name="@nameof(RoomTypeDtoForCreate.Description)"
                                  class="form-control" rows="6" maxlength="512"></textarea>
                        <label class="form-label" for="form-new-room-type-description">Description</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="form-new-room-type">Save</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-container"></div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3" id="header">All Rooms</h1>
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2 border-bottom" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab-all-rooms" data-mdb-toggle="tab" href="#tabs-all-rooms"
                           role="tab" aria-controls="tabs-all-rooms" aria-selected="true">
                           All Rooms
                       </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab-room-types" data-mdb-toggle="tab" href="#tabs-room-types"
                           role="tab" aria-controls="tabs-room-types" aria-selected="false">
                            Room Types
                       </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-all-rooms" role="tabpanel" 
                        aria-labelledby="tab-all-rooms">
                        <button type="button" class="btn btn-primary mt-2 mb-4" data-mdb-toggle="modal" 
                            data-mdb-target="#new-room-modal">
                            New Room
                        </button>
                        <div class="table-responsive">
                            <table id="all-rooms-tbl" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Room No.</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Floor No.</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var r in Model.Rooms)
                                    {
                                        <tr data-room-id="@r.RoomId">
                                            <td>@r.RoomId</td>
                                            <td>@r.RoomType!.Name</td>
                                            <td><span class="status-@r.RoomStatus!.Name">@r.RoomStatus.Name</span></td>
                                            <td>@r.FloorNumber</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-info btn-edit-room d-inline-flex"
                                                            title="Edit">
                                                        <span class="material-symbols-rounded" 
                                                              style="font-size: 1rem;">
                                                            edit
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger d-inline-flex"
                                                            title="Archive">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            archive
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tabs-room-types" role="tabpanel" aria-labelledby="tab-room-types">
                        <button type="button" class="btn btn-primary mt-2 mb-4" data-mdb-toggle="modal"
                                data-mdb-target="#new-room-type-modal">
                            New Room Type
                        </button>
                        <div class="table-responsive">
                            <table id="room-types-tbl" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Room Type ID</th>
                                        <th class="w-25">Type</th>
                                        <th>Rooms</th>
                                        <th>Reserved</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rt in Model.RoomTypes)
                                    {
                                        <tr>
                                            <td>@rt.RoomTypeId</td>
                                            <td>@rt.Name</td>
                                            <td>@rt.TotalRoomsOfType</td>
                                            <td>@rt.TotalReservedOfType</td>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-info d-inline-flex"
                                                            title="Edit">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            edit
                                                        </span>
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-danger d-inline-flex"
                                                            title="Archive">
                                                        <span class="material-symbols-rounded"
                                                              style="font-size: 1rem;">
                                                            archive
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Room.js"></script>
}