@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Total Rooms</h5>
                            <p class="card-text fs-1">
                                @Model.TotalRoomsCount
                            </p>
                        </div>
                        <span class="material-symbols-rounded text-primary bg-primary bg-opacity-10 p-2 rounded" style="font-size: 4rem;">
                            meeting_room
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Available Rooms</h5>
                            <p class="card-text fs-1">
                                @Model.AvailableRoomsCount
                            </p>
                        </div>
                        <span class="material-symbols-rounded text-success bg-success bg-opacity-10 p-2 rounded" style="font-size: 4rem;">
                            event_available
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Occupied Rooms</h5>
                            <p class="card-text fs-1">
                                @Model.OccupiedRoomsCount
                            </p>
                        </div>
                        <span class="material-symbols-rounded text-danger bg-danger bg-opacity-10 p-2 rounded" style="font-size: 4rem;">
                            block
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="fs-4 text-body">Recent Bookings (Within 7 days Ago)</h5>
                <div class="table-responsive mt-3">
                    <table id="recent-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Book #</th>
                                <th>Room #</th>
                                <th>Room Type</th>
                                <th>Booked By</th>
                                <th>Schedule (mm-dd-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < 5; i++)
                            {
                                <tr>
                                    <td>BK@(i + 1)</td>
                                    <td>RM@(i + 1)</td>
                                    <td>Boardroom</td>
                                    <td>Booker T</td>
                                    <td>@DateTime.Now.ToString("d") - @DateTime.Now.AddDays(1).ToString("d")</td>
                                    <td>1 day</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-sm btn-outline-primary d-inline-flex" title="View">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-outline-info d-inline-flex" title="Edit">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    edit
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {    
    <script src="~/js/dashboard.js"></script>
}