@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div id="modal-container"></div>
<div class="row">
    <div class="col-12">
        <h1 class="display-6 mb-3">@ViewData["Title"]</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Total Rooms</h5>
                            <p class="card-text fs-1">@Model.TotalRooms</p>
                        </div>
                        <span class="material-symbols-rounded text-primary bg-primary bg-opacity-10 p-2 rounded" 
                            style="font-size: 4rem;">
                            meeting_room
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Available Rooms</h5>
                            <p class="card-text fs-1">@Model.AvailableRooms</p>
                        </div>
                        <span class="material-symbols-rounded text-success bg-success bg-opacity-10 p-2 rounded" 
                            style="font-size: 4rem;">
                            event_available
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-body">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div>
                            <h5 class="card-title">Occupied Rooms</h5>
                            <p class="card-text fs-1">@Model.OccupiedRooms</p>
                        </div>
                        <span class="material-symbols-rounded text-danger bg-danger bg-opacity-10 p-2 rounded" 
                            style="font-size: 4rem;">
                            block
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="fs-4 text-body">Recent Reservations (Within 7 days Ago)</h5>
                <div class="table-responsive mt-3">
                    <table id="recent-tbl" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Reservation No.</th>
                                <th>Room No.</th>
                                <th>Room Type</th>
                                <th>Reserved By</th>
                                <th>Schedule (mm-dd-yyy)</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model.Reservations)
                            {
                                <tr data-reservation-id="@r.ReservationId">
                                    <td>@r.ReservationId</td>
                                    <td>@r.Room!.RoomId</td>
                                    <td>@r.Room.RoomType!.Name</td>
                                    <td>@r.Reserver</td>
                                    <td>@r.StartDateFormatted - @r.EndDateFormatted</td>
                                    <td>@r.Duration</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-primary btn-view-reservation d-inline-flex"
                                                    title="View">
                                                <span class="material-symbols-rounded" 
                                                    style="font-size: 1rem;">
                                                    visibility
                                                </span>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-sm btn-outline-danger btn-archive-reservation d-inline-flex"
                                                    title="Archive"
                                                    data-controller="Home">
                                                <span class="material-symbols-rounded" style="font-size: 1rem;">
                                                    archive
                                                </span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {    
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/Reservation/ViewModal.js"></script>
    <script src="~/js/Reservation/ArchiveFunction.js"></script>
}